footer {
	margin: 1.5em;
}

strong, b {
	color: #33B5E5
}
.question {
    margin: 2em 0;
}

.btn {
    margin-bottom: 0.5em;
}
.productImg {
    float: right;
    list-style-type: none;
}

#optionsList {
    list-style-type: none;
}

#optionsList h2 {
    font-size: 1.2em;
}

.dropdown-menu {
	background-color: #333;
	padding: 1em 1em;
}

.dropdown-menu#formLogin {
	padding: 1em 1em;
}
.dropdown-menu .control-group {
	margin-bottom: 0;
}

.btn.selected {
    background-color: #49afcd;
    *background-color: #2f96b4;
    background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
    background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: linear-gradient(top, #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn.selected:hover,
.btn.selected:active,
.btn.selected.active,
.btn.selected.disabled,
.btn.selected[disabled] {
    background-color: #2f96b4;
    *background-color: #2a85a0;
}

.btn.selected:active,
.btn.selected.active {
    background-color: #24748c \9;
}

.alert-info {
	color: #fff;
}

.popover {
	color: #444;
	font-size: 0.95em;
}
.popover-title {
	font-size: 1.05em;
	color: #222;
}

.alert-heading {
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5) !important;
}

.form-horizontal .control-group::after {
	display: inline !important;
}

@media only screen and (min-width: 980px) {
    body {
        padding-top:90px;
        font-size: 16px;
    }
}

