.question {
    margin: 2em 0;
}

.btn {
    margin-bottom: 0.5em;
}
.productImg {
    float: right;
    list-style-type: none;
}

#optionsList {
    list-style-type: none;
}

#optionsList h2 {
    font-size: 1.2em;
}

.btn.selected {
    background-color: #49afcd;
    *background-color: #2f96b4;
    background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
    background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: linear-gradient(top, #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn.selected:hover,
.btn.selected:active,
.btn.selected.active,
.btn.selected.disabled,
.btn.selected[disabled] {
    background-color: #2f96b4;
    *background-color: #2a85a0;
}

.btn.selected:active,
.btn.selected.active {
    background-color: #24748c \9;
}

@media only screen and (min-width: 980px) {
    body {
        padding-top:90px;
        font-size: 16px;
    }
}

